*{
    margin: 0;
    padding: 0;
    font-size: monospace;
}

.titulo{
    margin-left: auto;
    margin-right: auto;
    text-align: center; /* gambiarra para centralizar->*/
}

ul {
	list-style: none;
}
body{
    font-size: 16px;
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.pokedex {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1{
    font-size: 4rem;
    text-align: center;
    margin: 2rem;
    color: #ffce31;
    text-shadow: 1px 2px 0px #010064;

}

img{
    max-width: 100%;
}

.card{
    background-color: #ccccc8;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    width: 30vw;
    border: solid 1px rgb(190, 188, 188);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.p, h2, h3{
   display: inset-block;
}

.h2{
   display: inset-block;
}

.card-img{
    width: 50px;
    margin-right: 20px;
}

.card-tipo{
    width: 50px;
    margin-right: 1.2rem;
}

.card-name{
    margin-bottom: 8px;
    font-size: 18px;
    
}

  
  h1 {
    font-size: 4rem;
    text-align: center;
    margin: 2rem;
  }
  
  img {
    max-width: 100%;
  }
  
  .lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    background-color: #d6e6e3;
    font-family: sans-serif;
    margin-bottom: 20px;
    width: 28vw;
    border: solid 1px lightgreen;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  /*  comentario  */
  
  p, h2, h3 {
    display: inline-block;
  }
  
  .card-image {
    width: 50%;
    margin-right: 20px;
  }
  
  .card-text {
    width: 50%;
  }
  
  .card-name {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
